apparmor==3.1.6
appdirs==1.4.4
argcomplete==2.0.0
Authlib==1.2.1
Babel==2.12.1
backoff==2.2.1
beautifulsoup4==4.12.2
blivet==3.8.2
blivet-gui==2.4.2
bodhi-client==8.0.0
Brlapi==0.8.5
cachetools==5.3.1
CCColUtils==1.5
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.3
configobj==5.0.8
construct==2.10.68
contourpy==1.2.0
cryptography==41.0.3
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
distro==1.8.0
dnf==4.18.1
evdev==1.6.1
fb-re2==1.0.7
fedora-third-party==0.10
fedpkg==1.44
file-magic==0.4.0
filelock==3.12.2
fonttools==4.47.0
gitdb==4.0.10
GitPython==3.1.40
gpg==1.20.0
gssapi==1.7.3
humanize==3.13.1
idna==2.10
initial-setup==0.3.98
inkex==1.3.0
inputs==0.5
Jinja2==3.1.2
kerberos==1.3.0
kitchen==1.2.6
kiwisolver==1.4.5
koji==1.33.1
langtable==0.0.64
LibAppArmor==3.1.6
libcomps==0.1.20
libdnf==0.72.0
lockfile==0.12.2
lutris==0.5.14
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.2
mercurial==6.5.3
moddb==0.8.1
munch==2.5.0
nftables==0.1
notify2==0.3.1
numpy==1.24.4
olefile==0.46
opencv-python-headless==4.8.0.74
openidc-client==0.7.0
packaging==23.1
pexpect==4.8.0
pid==2.2.3
Pillow==10.1.0
ply==3.11
powerline-status==2.8.3
productmd==1.38
progressbar2==3.53.2
protobuf==3.19.6
ptyprocess==0.7.0
pwquality==1.4.5
pybeam==0.7
pycairo==1.25.1
pycparser==2.20
pycryptodomex==3.19.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.13.3
PyGObject==3.46.0
pykickstart==3.48
pyparsing==2.4.7
pyparted==3.13.0
pypresence==4.3.0
pyrate-limiter==3.1.0
pyroute2==0.7.3
pyserial==3.5
PySide6-Essentials==6.6.1
PySocks==1.7.1
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-fedora==1.1.1
python-magic==0.4.27
python-meh==0.51
python-utils==3.3.3
pytz==2023.3.post1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
regex==2023.10.3
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-toolbelt==1.0.0
roboflow==1.1.14
rpkg==1.66
rpm==4.19.1
rpmautospec==0.3.8
rpmlint==2.4.0
scipy==1.11.4
scour==0.38.2
setools==4.4.3
setproctitle==1.2.3
setuptools==67.7.2
shiboken6==6.6.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
sos==4.6.0
soupsieve==2.5
steam==1.4.4
supervision==0.17.1
systemd-python==235
templated-dictionary==1.2
termcolor==2.4.0
tldextract==3.5.0
tomli_w==1.0.0
toolz==0.12.0
tqdm==4.66.1
ufw==0.35
urllib3==1.26.18
VapourSynth==63
vdf==3.4
WoeUSB-ng==0.2.12
wxPython==4.2.1
zombie-imp==0.0.2
zstandard==0.21.0
